# Bonus: Temperature Analysis I

#### Hawaii is reputed to enjoy mild weather all year. Is there a meaningful difference between the temperature in, for example, June and December?
* Identify the average temperature in June at all stations across all available years in the dataset. Do the same for December temperature.

* Use the t-test to determine whether the difference in the means, if any, is statistically significant. Will you use a paired t-test, or an unpaired t-test? Why?

In [1]:
import pandas as pd
from datetime import datetime as dt
from scipy.stats import ttest_rel
import scipy.stats as stats
from scipy import stats

In [2]:
# "tobs" is "temperature observations"
hawaii_df = pd.read_csv('Resources/hawaii_measurements.csv')
hawaii_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
#Convert the date column format from string to datetime
hawaii_df.date = pd.to_datetime(hawaii_df.date, infer_datetime_format=True)

#Set the date column as the DataFrame index
hawaii_df = hawaii_df.set_index(hawaii_df['date'])

#Drop the date column
del hawaii_df['date']

hawaii_df.dropna()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-07  USC00519397  0.06    70
...                 ...   ...   ...
2017-08-17  USC00516128  0.13    72
2017-08-19  USC00516128  0.09    71
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[18103 rows x 3 columns]

### Compare June and December data across all years

#### Filter data for desired months

In [4]:
#Getting the data only for June from the dataframe
June_mask = hawaii_df[hawaii_df.index.month == 6]
#-----------------------------------------------------------
#Identify the average temperature for June
June_mask["tobs"].mean()

74.94411764705882

In [5]:
#Getting the data only for June from the dataframe
December_mask = hawaii_df[hawaii_df.index.month == 12]
#-----------------------------------------------------------
# Identify the average temperature for December
December_mask["tobs"].mean()

71.04152933421226

In [6]:
stats.ttest_ind(June_mask.tobs, December_mask.tobs, equal_var = False)

Ttest_indResult(statistic=31.355036920962423, pvalue=4.193529835915755e-187)

### Analysis
* The findings are statistically significant! The p-value is 4.1935-187 which is way less than 0.05, so one can reject the null hypothesis in support of the alternative. 
* In this case we will use a paired test as the variable temperature is taken at two different times(June and December) at the same location.